{% comment %}
Plant Summary Card

@arg plant
@arg title (optional)
{% endcomment %}

{% assign plant = include.plant %}
{% assign title = include.title %}

<div class="feature_blurb plant_spotlight" style="background-color:#FFF8DC">
    {% if plant.icon and plant.icon.small and plant.icon.small.url %}
    <img class="plant align-left small_icon" src="{{plant.icon.small.url}}">
    {% endif %}
    <div>
        <img class="spotlight" src="/assets/images/icons/spotlight.png" />
        <h2>
            {% if plant.name.common and plant.name.common.size > 0 %}
                <a href="/spotlight/" style="color:#000">
                {{title | capitalize }} Plant Spotlight 
                </a>:
                <span>{{plant.name.common[0]}}</span>
            {% endif %}
        </h2>
        <div class="info">
            <div class="scientific_name">
                {% if plant.name.scientific %}
                <b>Scientific Name:</b> {{plant.name.scientific | capitalize }}
                {% endif %}
            </div>
            <div class="description">
                {% if plant.description and plant.description.short %}
                {{ plant.description.short }}
                {% endif %}
            </div>
            {% if plant.url %}
            <a class="btn--info btn" href="{{plant.url}}">More Details</a>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
</div>
