{% assign plants = include.plants %}

<table class="plant_list">
<tr>
<td>
</td>
<td>
<b>Common Name</b><br/>
<i>Scientific Name</i>
</td>
<td>
Sun Reqs.
</td>
<td>
Height
</td>
</tr>
{% for plant in plants %}
<tr>
<td>
<div class="plant_icon">
{% if plant.icon and plant.icon.small %}
<img src='{{plant.icon.small.url}}' />
{% endif %}
</div>
</td>
<td>
<b>{{ plant.name.common[0] | capitalize }}</b>
<br/>
{% if plant.websites and plant.websites.size > 0 %}
    <a href="{{plant.websites[0].url}}" target="_blank">
{% endif %}

<i>{{ plant.name.scientific | capitalize }}</i>

{% if plant.websites and plant.websites.size > 0 %}
    </a>
{% endif %}
</td>
<td class="sun_req">

    {% assign sort_param = "" %}

    {% if plant.sun_requirements contains 'Full Sun' %}
       {% assign sort_param = sort_param | append: "a" %}
    {% endif %}
    {% if plant.sun_requirements contains 'Part Shade' %}
       {% assign sort_param = sort_param | append: "b" %}
    {% endif %}
    {% if plant.sun_requirements contains 'Full Shade' %}
       {% assign sort_param = sort_param | append: "c" %}
    {% endif %}

    <div class="{{sort_param}}">
    </div>
</td>
<td>
    {% if plant.size and plant.size.height and plant.size.height.min && plant.size.height.max %}
        {% if plant.size.height.min == plant.size.height.max %}
            {{ plant.size.height.min }} ft
        {% else %}
            {{ plant.size.height.min }} - {{ plant.size.height.max }} ft
        {% endif %}
    {% endif %}
</td>
</tr>
{% endfor %}
</table>

