---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

ul {
    list-style-type: none;
}

#banner {
 background-color: #a27ebf; 
 color: #FFF; 
 font-size: 0.9em;
 padding: 0.5em 0.5em; 
}

.feature_blurb {
    margin-bottom: 2em;
    border-radius: 15px;
    padding: 1em; 

    h2 {
        margin-top: 0.5em;
    }

    .info {
        div {
            margin-bottom: 0.5em;
        }
        font-size: 0.9em;
    }

    ul {
        margin: 0.5em;
    }

    li {
        margin: 0;
    }
}

img.plant.small_icon {
    border-radius: 100px; 
}

.plant_spotlight {
    background-color: #f8e2dd; 
    background-image: url('/assets/images/icons/watercolor-flower2.png'); 
    background-position: bottom right;
    background-repeat: no-repeat; 

    h2 span {
        font-weight: 400;
    }

    img.spotlight {
        float: left; 
        height: 35px; 
        margin-right: 20px;
    }

    img.plant.small_icon {
        border: 2px solid white;
    }

    a.btn {
        margin-right: 10px;
    }
}

.consultations {
    background-color: #00A896;
    background-image: url('/assets/images/icons/watercolor-leaves.png'); 
    background-position: bottom right;
    background-repeat: no-repeat; 
    color: #FFF;

    a {
        background-color: #000;
        color: #FFF;
    }
}

.plant_list {
    img {
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
}

#footer {
    background-color: #000;
    background-image: url('/assets/images/icons/watercolor-flower-cones.png'); 
    background-position: top right;
    background-repeat: no-repeat; 
    color: #FFF;
}

.clear {
    clear: both;
}
