---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#banner {
 background-color: #a27ebf; 
 color: #FFF; 
 font-size: 0.9em;
 padding: 0.5em 0.5em; 
}

.sale_banner {
    background-repeat: no-repeat;
    background-color: #141b51; 
    background-image: url('/assets/images/backgrounds/foliage-test-3.png'); 
    background-position: bottom; 
    color: #FFF; 
    margin-top: -2em; 
    margin-bottom: 2em; 
    margin-left: auto; 
    margin-right: auto; 
    position: relative; 
    width: 100%;

    .wrapper {
        max-width: 1280px;
        padding: 3em 1em;
    }

    .header {
        margin-bottom: 30px;
    }

    .header h1 a {
        color: #FFF;
        text-decoration: none;
    }

    .header h4 {
        margin-top: 0;
        color: #dca1a0;
    }
}

.feature_blurb {
    margin-bottom: 2em;
    border-radius: 15px;
    padding: 1em; 

    h2 {
        margin-top: 0.5em;
    }

    .info {
        div {
            margin-bottom: 0.5em;
        }
        font-size: 0.9em;
    }

    ul {
        margin: 0.5em;
    }

    li {
        margin: 0;
    }
}

img.plant.small_icon {
    border-radius: 100px; 
}

table.plant_list .plant_icon img {
    border-radius: 5px;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    width: 60px;
}

table.plant_list .plant_icon {
    border-radius: 5px;
    min-height: 60px;
    min-width: 60px;
    background-color: lightgray;
}

@media (min-width: 37.5em) { 
    table.plant_list .plant_icon img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }
}

.sun_req div {
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

.sun_req .a {
  background-color: #FFD700;
}

.sun_req .ab {
    background: repeating-linear-gradient(
      to right,
      #FFD700,
      #FFD700 15px,
      #CCC 15px,
      #CCC 30px
    );
}

.sun_req .bc {
    background: repeating-linear-gradient(
      to right,
      #CCC,
      #CCC 15px,
      #888 15px,
      #888 30px
    );
}

.sun_req .abc {
    background-image: url("./../images/icons/sun_all.png");
    background-repeat: no-repeat; 
    height: 30px;
    width: 30px;
}

.sun_req .b {
  background-color: #CCC;
}

.sun_req .c {
  background-color: #888;
}

.plant_spotlight {
    background-color: #f8e2dd; 
    background-image: url('/assets/images/icons/watercolor-flower2.png'); 
    background-position: bottom right;
    background-repeat: no-repeat; 

    h2 span {
        font-weight: 400;
    }

    img.spotlight {
        float: left; 
        height: 35px; 
        margin-right: 20px;
    }

    img.plant.small_icon {
        border: 2px solid white;
    }

    a.btn {
        margin-right: 10px;
    }
}

.consultations {
    background-color: #00A896;
    background-image: url('/assets/images/icons/watercolor-leaves.png'); 
    background-position: bottom right;
    background-repeat: no-repeat; 
    color: #FFF;

    a {
        color: #000;
    }

    a.btn {
        background-color: #000;
        color: #FFF;
    }
}

.plant_list {
    img {
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
}

.spring-sale h1#page-title {
    font-weight: 400;
    letter-spacing: 4px;
}

.spring-sale h1#page-title a {
    text-decoration: none;
}

.spring-sale .hours h4,
.spring-sale .subheading h4 {
    font-weight: 400;
    letter-spacing: 2px;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
}

.spring-sale .browse-block {
    background-color: #EEE25F;
    background-image: url('/assets/images/backgrounds/flowers-yellow.jpg');
    ;
    background-repeat: no-repeat; 
    color: #FFF;

    ul {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    li { 
        margin: 0;
    }

    a {
        color: #000;
    }

    a.btn {
        background-color: #000;
        color: #FFF;
    }
}

.spring-sale .thanks-block {
    padding: 2em;
}

.plant_list {
    img {
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
}

.spring-sale h1#page-title {
    font-weight: 400;
    letter-spacing: 4px;
}

.spring-sale .hours h4 {
    font-weight: 400;
    letter-spacing: 2px;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
}

.spring-sale .browse-block {
    background-color: #f0e130;
    background-image: url('/assets/images/backgrounds/flowers-yellow.jpg');
    background-position: bottom left;
    color: #000;
    padding: 3rem 3rem;
    margin-bottom: 3rem;
}

.spring-sale .browse-block .box {
    background-color: #EEE;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.spring-sale .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: center;
}

.spring-sale .heading h1 {
    color: #000;
    font-weight: 400;
}

@media (max-width: 767px) {
    .spring-sale .heading {
        display: block;
    }
}

.spring-sale .heading a.btn {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 15rem;
    padding: .8333333333rem 1.1111111111rem;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
}

.spring-sale #banner {
    background-color: #DC143C; 
}

@media (min-width: 37.5em) { 
    .spring-sale .content .box {
        width: 45%;
    }

    .spring-sale .content .box.inventory_type {
        float: left;
        margin-right: 5%;
    }
    .spring-sale .content .box.inventory_category {
        float: right;
    }
}

.spring-sale .box h4 {
    margin: 0.5em 0 0.5em;
}

.spring-sale .box .column {
    float: left;
    width: 50%;
 }

.spring-sale .box .column .row {
    font-size: 0.9em;
 }
    
.spring-sale .box .column .row:after {
      content: "";
      display: table;
      clear: both;
 }
    

@media screen and (max-width: 600px) {
  .spring-sale .box .column {
    width: 100%;
  }
}

.thanks-block {
    background-image:url('/assets/images/backgrounds/flower-medley.png'); 
    background-color: #333; 
    background-position: top;
    background-repeat:no-repeat; 
    color: #FFF; 
    padding-top: 120px; 
}

#footer {
    background-color: #000;
    background-image: url('/assets/images/icons/watercolor-flower-cones.png'); 
    background-position: top right;
    background-repeat: no-repeat; 
    color: #FFF;
}

.clear {
    clear: both;
}
