---     
layout: single
classes: plant-page wide
--- 


{% if page.icon and page.icon.large and page.icon.large.url %}
<div class="archive__item-teaser" style="width:300px">
    <img class="plant align-left large_icon" src="{{page.icon.large.url}}">
    {% if page.icon.source and page.icon.source.name %}
    <span class="archive__item-caption">Photo by 
        {% if page.icon.source and page.icon.source.url %}
            <a href="{{page.icon.source.url}}">
        {% endif %}
        {{page.icon.source.name}}
        {% if page.icon.source and page.icon.source.url %}
            </a>
        {% endif %}
    </span>
    {% endif %}
</div>
{% endif %}

<h2>
    {% if page.name.common and page.name.common.size > 0 %}
    <span>{{page.name.common[0] | capitalize }}</span>
    {% endif %}
</h2>

<div class="scientific_name">
    {% if page.name.scientific %}
    <b>Scientific Name:</b> {{page.name.scientific | capitalize }}
    {% endif %}
</div>

{% if page.category %}
    <br/>
    <b>Plant Type:</b> {{page.category | capitalize }}
{% endif %}

<p>
{% if page.sun_requirements and page.sun_requirements.size > 0 %}
    <b>Sun Requirements:</b> {{page.sun_requirements | join: ", " }}
{% endif %}
{% if page.websites and page.websites.size > 0 %}
    <br/>
    <b> Websites: </b>
    {% for website in page.websites %}
        <a href="{{website.url}}" target="_blank">{{website.name}}</a>
        {% if forloop.index < page.websites.size %}, {% endif %}
    {% endfor %}
{% endif %}
</p>

<p>
{% if page.tags and page.tags.size > 0 %}
    <b>Tags:</b> {{ page.tags | join: ", " }}
{% endif %}
</p>


