---
layout: default
---

{% if page.banner %}
<div id="banner">
    {% if page.banner.excerpt %}
       {{ page.banner.excerpt }} 
    {% endif %}
</div>
{% endif %}


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}

    {% if page.sale_banner %} 
     <div class="sale_banner">
         <img src="/assets/images/sale/waxyconeflower_30.png" style="position: absolute; left: 0; bottom: 0; max-height: 85%" />
         <!-- <img src="/assets/images/sale/lupine_wide_30.png" style="position: absolute; right: 0; bottom: 0; height: 100%" /> -->
         <div class="wrapper" style="opacity:0.99 /*transparent image makes text image*/"> 
             <div class="header"> 
                <!-- <div>Shop Our</div> -->
                <img src="/assets/images/icons/clock-sm.png" style="float:left; margin-top: 3px; margin-right: 15px" />
                <div style="margin-bottom:5px">September 27 - September 28, 2025</div>
                <h1><a href="/sale/">Fall Native Plant Sale</a></h1>
                <!-- <h4>May 4 & 5, 2024</h4> -->
                <p>
                Join us for a weekend of native plant appreciation. Browse our wide selection of native plants, explore our demonstration garden, talk to local native plant experts. More information and plant inventory lists coming soon!
                </p>
                <div style="float: left">
                     <a class="btn btn--primary" href="/sale/" style="background-color:#000; margin-right: 15px">More Information</a>
                </div>
 <!--

                <div style="float: left">
                     <a class="btn btn--inverse" href="https://www.signupgenius.com/go/904054DA5A823A2F94-55747094-spring#/" target="_blank">Sign Up to Shop</a>
                </div>
                -->
                <div style="clear:both"></div>
             </div>
         </div>
     </div>
   {% endif %}

{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>
