---
layout: default
---

{% if page.banner %}
<div id="banner">
    {% if page.banner.excerpt %}
       {{ page.banner.excerpt }} 
    {% endif %}
</div>
{% endif %}


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}

    {% if page.sale_banner %} 
     <div class="sale_banner">
         <img src="/assets/images/sale/waxyconeflower_30.png" style="position: absolute; left: 0; bottom: 0; max-height: 85%" />
         <div class="wrapper" style="opacity:0.99 /*transparent image makes text image*/"> 
             <div class="header"> 
                <div>Shop Our In-Person</div>
                <h1><a href="/sale/">Fall Native Plant Sale</a></h1>
                <h4>September 23 & 24, 2023</h4>
                <p>
                Join us for a weekend of native plant appreciation. Browse our wide selection of native plants, explore our demonstration garden, talk to local native plant experts. Inventory and sign up information will be posted September 1, 2023.
                </p>
                <div style="float: left">
                     <a class="btn btn--primary" href="/sale/">More Information</a>
                </div>
                <div style="clear:both"></div>
             </div>
         </div>
     </div>
   {% endif %}

{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>
